.Box {
    width: 100%;

    display: flex;
    flex-direction: column;
    height: 100%;;
    justify-content: flex-end;

}

.Messages {
    width: 100%s;;
    display: flex;
    flex-direction: column;
}