.CarCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

  height: 320px; /* Set a fixed height for the card */
  display: flex;
  flex-direction: column;
  position: relative;
}

.Image {
  flex: 1;
  & > img {
    width: 100%;
    object-fit: cover;
  }
}

.WishList {
  position: absolute;
  right: 10px;
  top: 10px;
}

.Info {
  padding: 10 20px;
  flex-direction: column;
}